<div class="all-profile">
  <div class="profile-container">
    <h2 class="profile-title">Profile</h2>
    <div class="profile-info">
      <label for="name">Name:</label>
      <p>{{user.name}}</p>
    </div>
    <div class="profile-info">
      <label for="email">Email:</label>
      <p>{{user.email}}</p>
    </div>
    <div class="profile-info">
      <label for="role">Rol:</label>
      <p>{{user.rol}}</p>
    </div>
    <div class="profile-action">
      <a
        href="/logout"
        class="btn btn-danger logout-btn"
        onclick="logout()"
      >Logout</a>
      <a href="/products" class="btn btn-primary logout-btn">Return Home</a>
    </div>

  </div>
</div>
<script src="/js/cart.js"></script>